In [1]:
%load_ext nb_black

In [61]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
from scipy.stats import linregress

# Files
vacc_race_path = "vacc_race.csv"
vacc_age_path = "vacc_age.csv"
race_path = "race_data.csv"
age_path = "age_data.csv"

# Dataframes
vacc_race = pd.read_csv(vacc_race_path)  # contains vaccinations by race
vacc_age = pd.read_csv(vacc_age_path)  # contains vaccinations by age
race = pd.read_csv(race_path)  # deaths by race
age = pd.read_csv(age_path)  # deaths by age

vacc_age.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2608 entries, 0 to 2607
Data columns (total 13 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   date                                    2608 non-null   object
 1   age_group                               2608 non-null   object
 2   partially_vaccinated                    2608 non-null   int64
 3   at_least_one_dose                       2608 non-null   int64
 4   fully_vaccinated                        2608 non-null   int64
 5   population_total                        2608 non-null   int64
 6   population_12_and_up                    2608 non-null   int64
 7   partially_vaccinated_percent            2608 non-null   float64
 8   partially_vaccinated_percent_12_and_up  2605 non-null   float64
 9   at_least_one_dose_percent               2608 non-null   float64
 10  at_least_one_dose_percent_12_and_up     2605 non-null   float64
 11  fully_vaccinated_percent                2608 non-null   float64
 12  fully_vaccinated_percent_12_and_up      2580 non-null   float64
dtypes: float64(6), int64(5), object(2)
memory usage: 265.0+ KB

In [62]:
remove_data = vacc_age.loc[vacc_age["age_group"] == "11-May", :]
remove_data

,date,age_group,partially_vaccinated,at_least_one_dose,fully_vaccinated,population_total,population_12_and_up,partially_vaccinated_percent,partially_vaccinated_percent_12_and_up,at_least_one_dose_percent,at_least_one_dose_percent_12_and_up,fully_vaccinated_percent,fully_vaccinated_percent_12_and_up
1048,2/17/22,11-May,251570,1292119,1040549,3518950,0,7.149008e-02,0.999,3.671888e-01,0.999,0.295699,0.999
1049,2/16/22,11-May,253592,1289527,1035935,3518950,0,7.206468e-02,0.999,3.664522e-01,0.999,0.294388,0.999
1050,2/15/22,11-May,256558,1286382,1029824,3518950,0,7.290754e-02,0.999,3.655585e-01,0.999,0.292651,0.999
1051,2/14/22,11-May,259363,1283576,1024213,3518950,0,7.370466e-02,0.999,3.647611e-01,0.999,0.291056,0.999
1052,2/13/22,11-May,261511,1281154,1019643,3518950,0,7.431507e-02,0.999,3.640728e-01,0.999,0.289758,0.999
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1477,11/5/20,11-May,2,2,0,3518950,0,5.680000e-07,0.999,5.680000e-07,0.999,0.000000,NaN
1478,11/1/20,11-May,2,2,0,3518950,0,5.680000e-07,0.999,5.680000e-07,0.999,0.000000,NaN
1479,10/1/20,11-May,0,0,0,3518950,0,0.000000e+00,NaN,0.000000e+00,NaN,0.000000,NaN
1480,8/30/20,11-May,0,0,0,3518950,0,0.000000e+00,NaN,0.000000e+00,NaN,0.000000,NaN
1481,8/4/20,11-May,0,0,0,3518950,0,0.000000e+00,NaN,0.000000e+00,NaN,0.000000,NaN

In [58]:
vacination_by_age = vacc_age.groupby("age_group").sum()
vacination_by_age
# plt.bar(x_axis, y_axis, color="b")
# plt.xticks(rotation=70)
# plt.title("Number of Mice per Treatment")
# plt.xlabel("Drug Regimen")
# plt.ylabel("Number of Data Points")
# plt.legend().set_visible(False)
# plt.show()# remove_data

Empty DataFrame
Columns: [partially_vaccinated, at_least_one_dose, fully_vaccinated, population_total, population_12_and_up, partially_vaccinated_percent, partially_vaccinated_percent_12_and_up, at_least_one_dose_percent, at_least_one_dose_percent_12_and_up, fully_vaccinated_percent, fully_vaccinated_percent_12_and_up]
Index: []