In [22]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
from scipy.stats import linregress

# Files
vacc_race_path = "Desktop/vacc_race.csv"
vacc_age_path = "Desktop/vacc_age.csv"
race_path = "Desktop/race_data.csv"
age_path = "Desktop/age_data.csv"

vacc_race = pd.read_csv(vacc_race_path)
vacc_age = pd.read_csv(vacc_age_path)
race = pd.read_csv(race_path)
age = pd.read_csv(age_path)

vacc_age

vacc_age.groupby('age_group').sum()
a[['fully_vaccinated']]
x_axis = total.index
y_axis = total.values
plt.bar(x_axis,y_axis, color = 'b')
plt.xticks(rotation = 70)
plt.title ('Number of Mice per Treatment')
plt.xlabel('Drug Regimen')
plt.ylabel('Number of Data Points')
plt.legend().set_visible(False)
plt.show()

# combined_data = pd.merge (vacc_race, vacc_age, race, age, how = 'outer', on = "date")

NameError: name 'total' is not defined

In [19]:
a

,partially_vaccinated,at_least_one_dose,fully_vaccinated,population_total,population_12_and_up,partially_vaccinated_percent,partially_vaccinated_percent_12_and_up,at_least_one_dose_percent,at_least_one_dose_percent_12_and_up,fully_vaccinated_percent,fully_vaccinated_percent_12_and_up
age_group,,,,,,,,,,,
11-May,35504243,91505250,56001007,1527224300,0,10.089442,430.569000,26.003566,430.569000,15.914124,405.594000
17-Dec,87357835,507441858,420084023,1520936160,1520936160,27.569705,27.569705,160.146164,160.146164,132.576459,132.576459
18-49,619109564,4082357583,3463248019,9670003472,9670003472,36.365471,36.365471,239.790928,239.790928,203.425457,203.425457
50-64,279694664,2057266510,1777571846,4180855866,4180855866,37.530284,37.530284,276.050299,276.050299,238.520015,238.520015
65+,280898633,2019770588,1738871955,3688856185,3688856185,43.023560,43.023560,309.356159,309.356159,266.332599,266.332599

In [21]:
a[['fully_vaccinated']]

           fully_vaccinated
age_group
11-May             56001007
17-Dec            420084023
18-49            3463248019
50-64            1777571846
65+              1738871955